.fundHeartImg {
    width: 400px;
}

.fund {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;
}