.volButton {
    border: none;
    background-color: $text_color;
    @include font-style-Nunito(700, 1.1em, 1.2, white);
    transition: all .5s ease-in-out;
    // margin-right: 10px;
    margin-bottom: 15px;
}

.volButton:hover {
    color: $text_color;
    border: 2px solid $text_color;
    background-color: white;
}


.partButton {
    border: 2px solid $text_color;
    background-color: white;
    // margin-left: 15px;
    @include font-style-Nunito(700, 1.1em, 1.2, $text_color);
    transition: all .5s ease-in-out;
}

.partButton:hover {
    color: white;
    background-color: $bg2_color
}




.fund {
    grid-area: fund;
}

@media (min-width: 1301px) and (max-width: 2500px) {
    .firstColumn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-right: 30px;
        grid-area: firstColumn;
        width: 40vw;
    }

    .secondColumn {
        margin-top: 30px;
        grid-area: secondColumn;

    }

    .fundHeartImg {
        width: 30vw;
    }

    .fund {
        display: grid;
        // width: 70vw;
        margin-left: 15vw;
        grid-template-columns: 40vw 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "firstColumn secondColumn";
    }

    .fundTitle {
        @include font-style-Nunito(700, 3em, 1.2, #6A68B0);
    }

    .volButton,
    .partButton {
        height: 50px;
        width: 220px;
        border-radius: 20px;
    }

    .fundSubtitle {
        @include font-style-Nunito(400, 20px, 1.2, #5B5A7A);
    }
}

@media (min-width: 1101px) and (max-width: 1300px) {

    .fundTitle {
        @include font-style-Nunito(700, 2.08em, 1.2, #6A68B0);
    }

    .firstColumn {
        display: flex;
        flex-direction: column;
        justify-content: left;
        // margin-right: 30px;
        grid-area: firstColumn;
        width: 30vw;
    }

    .secondColumn {
        margin-top: 30px;
        grid-area: secondColumn;

    }

    .fundHeartImg {
        width: 30vw;
    }


    .fund {
        display: grid;
        // width: 70vw;
        margin-left: 15vw;
        grid-template-columns: 30vw 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "firstColumn secondColumn";
    }


    .volButton,
    .partButton {
        height: 50px;
        width: 220px;
        border-radius: 20px;
    }

    .fundSubtitle {
        @include font-style-Nunito(400, 20px, 1.2, #5B5A7A);
    }
}

@media (min-width: 801px) and (max-width: 1100px) {
    .fundSubtitle {
        @include font-style-Nunito(400, 20px, 1.2, #5B5A7A);
    }

    .firstColumn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-right: 30px;
        grid-area: firstColumn;
        width: 40vw;
        // margin-left: 15vw;
    }

    .secondColumn {
        margin-top: 30px;
        grid-area: secondColumn;

    }

    .fundHeartImg {
        width: 30vw;
    }

    .fund {
        display: grid;
        width: 70vw;
        margin-left: 15vw;
        grid-template-columns: 40vw 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "firstColumn secondColumn";
    }

    .fundTitle {
        @include font-style-Nunito(700, 2em, 1.2, #6A68B0);
    }

    .volButton,
    .partButton {
        height: 56px;
        width: 200px;
        border-radius: 20px;
    }
}

@media (min-width: 701px) and (max-width: 800px) {
    .fundSubtitle {
        @include font-style-Nunito(400, 20px, 1.2, #5B5A7A);
    }

    .firstColumn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-right: 30px;
        grid-area: firstColumn;
        width: 40vw;
        // margin-left: 15vw;
    }

    .secondColumn {
        margin-top: 30px;
        grid-area: secondColumn;
    }


    .fundHeartImg {
        width: 30vw;
    }

    .fund {
        display: grid;
        width: 70vw;
        margin-left: 15vw;
        grid-template-columns: 40vw 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "firstColumn secondColumn";
    }

    .fundTitle {
        @include font-style-Nunito(700, 1.8em, 1.2, #6A68B0);
    }

    .volButton,
    .partButton {
        height: 56px;
        width: 200px;
        border-radius: 20px;
    }
}


@media screen and (max-width: 700px) {
    .firstColumn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: firstColumn;
        margin: auto;
    }

    .fundHeartImg {
        width: 80vw;
        display: flex;
        margin: 30px auto 20px auto;
    }

    .fund {
        display: grid;
        width: 100%;
        width: 90vw;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 60vw 1fr;
        grid-template-areas: "secondColumn"
            "firstColumn";
    }

    .fundTitle {
        @include font-style-Nunito(700, 1.7em, 1.2, #6A68B0);
        text-align: center
    }

    .fundSubtitle {
        @include font-style-Nunito(400, 16px, 1.2, #5B5A7A);
        text-align: center
    }

    .volButton,
    .partButton {
        height: 15vw;
        width: 70vw;
        max-width: 300px;
        max-height: 50px;
        border-radius: 15px;
    }

    .secondColumn {
        grid-area: secondColumn;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: -6.5vw;
    }
}







// -----стили для анимации------

@media (min-width: 701px) and (max-width: 2500px) {
    .all {
        position: relative;
        // left: 40vw;
    }

    .blue {
        position: absolute;
        width: 16.5vw;
        z-index: 4;
        animation-name: blueHand;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

    }

    .pink {
        position: absolute;
        width: 13.87vw;
        z-index: 4;
        animation-name: pinkHand;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

    }

    .heart {
        position: absolute;
        width: 31.87vw;
        z-index: 5;
        top: 0.63vw;
        left: 9.81vw;
    }

    .heartBack {
        position: absolute;
        width: 50vw;
        z-index: 5;
        left: 0.35vw;
    }

    @keyframes pinkHand {
        from {
            top: 13.63vw;
            left: 0.36vw;
        }

        to {
            top: 5.59vw;
            left: 14.12vw;
        }
    }

    @keyframes blueHand {
        from {
            top: 0.36vw;
            left: 33.75vw;
        }

        to {
            top: 4.2vw;
            left: 24.9vw;
        }
    }
}


@media screen and (max-width: 700px) {
    .all {
        position: relative;
    }

    .blue {
        position: absolute;
        width: 32.34vw;
        z-index: 4;
        animation-name: blueHand;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

    }

    .pink {
        position: absolute;
        width: 27vw;
        z-index: 4;
        animation-name: pinkHand;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

    }

    .heart {
        position: absolute;
        width: 63vw;
        z-index: 5;
        top: 1.25vw;
        left: 19.47vw;
    }

    .heartBack {
        position: absolute;
        width: 99vw;
        z-index: 5;
        left: 0.44vw;
    }

    @keyframes pinkHand {
        from {
            top: 26.95vw;
            left: 0.72vw;
        }

        to {
            top: 10.96vw;
            left: 27.67vw;
        }
    }

    @keyframes blueHand {
        from {
            top: 0.72vw;
            left: 66.77vw;
        }

        to {
            top: 8.23vw;
            left: 48.8vw;
        }
    }
}