.ourGoal {
    // width: 400px;
    width:25vw;
    object-fit: contain;
}

.heartLogo {
    width: 25px;
}

.goalsH3 {
    text-align: center;
    margin-left: 15vw;
    width: 70vw;
    @include font-style-Nunito(700,36px,1.2,$text-caption_color);

}

.whoSubtitle {
    @include font-style-Nunito(700,32px,1.2,$text_color);
    margin-bottom: 10px;
    margin-left: 5px
}

.whoWeText,
.weDoText {
    @include font-style-Nunito(400,18px,1.2,#565656);
}

.aboutUs {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
    justify-content: space-between;
}

.aboutSecondColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.whoWe {
    align-self: start;
    width: 70%;
    margin-bottom: 20px;
}

.weDo {
    width: 70%;
    align-self: flex-end;
}

.whoTitle {
    display: flex;
    flex-direction: row;
}

.weDoTitle {
    display: flex;
    flex-direction: row;
}


a {
    @include font-style-Nunito(700,20px,1.2,$text-caption_color);
    }

