.goals {
    grid-area: goals;
}

@media (min-width: 1101px) and (max-width: 2500px) {
    .whoWe {
        align-self: start;
        width: 45vw;
        margin-bottom: 20px;
    }

    .weDo {
        width: 45vw;
        align-self: flex-end;
    }

    .goals {
        margin: auto;
    }

    .goalsH3 {
        text-align: center;
        margin-left: 15vw;
        width: 70vw;
        @include font-style-Nunito(700, 36px, 1.2, $text-caption_color);
    }


    .whoSubtitle {
        @include font-style-Nunito(700, 32px, 1.2, $text_color);
        margin-bottom: 10px;
        margin-left: 5px
    }

    .aboutUs {
        display: flex;
        flex-direction: row;
        width: 70vw;
        margin: auto;
        justify-content: space-between;
    }

    .ourGoal {
        // width: 400px;
        width: 25vw;
        object-fit: contain;
    }
}

@media (min-width: 700px) and (max-width: 1100px) {
    .whoWe {
        align-self: start;
        width: 45vw;
        margin-bottom: 20px;
    }

    .weDo {
        width: 45vw;
        align-self: flex-end;
    }

    .goals {
        margin: auto;
    }

    .goalsH3 {
        text-align: center;
        margin-left: 15vw;
        width: 70vw;
        @include font-style-Nunito(700, 1.7em, 1.2, $text-caption_color);
    }

    .whoSubtitle {
        @include font-style-Nunito(700, 32px, 1.2, $text_color);
        margin-bottom: 10px;
        margin-left: 5px
    }

    .aboutUs {
        display: flex;
        flex-direction: row;
        width: 70vw;
        margin: auto;
        justify-content: space-between;
    }

    .ourGoal {
        // width: 400px;
        width: 25vw;
        object-fit: contain;
    }
}

@media screen and (max-width: 700px) {
    .whoWe {
        align-self: center;
        width: 80vw;
        margin-bottom: 60px;
    }

    .weDo {
        width: 80vw;
        align-self: center;
    }

    .goals {
        width: 80vw;
        margin: 70px auto auto auto;
    }

    .goalsH3 {
        text-align: center;
        width: 80vw;
        margin: auto auto 30px auto;
        @include font-style-Nunito(700, 1.5em, 1.2, $text-caption_color);
    }

    .whoSubtitle {
        @include font-style-Nunito(700, 20px, 1.2, $text_color);
        margin-bottom: 10px;
        margin-left: 5px
    }

    .aboutUs {
        display: flex;
        flex-direction: column;
        width: 70vw;
        margin: auto;
        justify-content: space-between;
    }

    .ourGoal {
        // width: 400px;
        width: 80vw;
        object-fit: contain;
        margin: auto;
    }
}

.heartLogo {
    width: 25px;
}

.whoWeText,
.weDoText {
    @include font-style-Nunito(400, 18px, 1.2, #565656);
}

.aboutSecondColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.whoTitle {
    display: flex;
    flex-direction: row;
}

.weDoTitle {
    display: flex;
    flex-direction: row;
}

.whoLogo {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}