.logoImg {
    width: 140px;
}

.menu {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menuTitle {
    @include font-style-Nunito(700,20px,1.2,#565656);
}

.gamburger {
    margin-left: 30px;
    margin-right: 10px;
}