.projectSlider {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-items: left;
    // border: 1px solid red;
}

.projects {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70vw;
    margin: auto;
    // border: 1px solid red;
}

.progectDiv IMG {
    position: relative;
}

.projectImg {
    height: 18vw;
    z-index: 5;
    top: 0;
    left:0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    margin: 0;
}

.projectImg:hover {
    height: 18vw;
    // outline: 10px solid #6C68AF;
    // outline-offset: -9px;
    // border-radius: 25px;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.projectCover {
    height: 18vw;
    position: absolute;
   
    // outline: 10px solid #6C68AF;
    // outline-offset: -9px;
    border-radius: 25px;
    z-index: 4;
    top: 0;
    left: 0;
}


.progectDiv {
    margin-right: 50px;
    width: max-content;
    height: max-content;
    // border: 10px solid #6C68AF;
    // background-color: #6C68AF;
    // outline: 10px solid #6C68AF;
    // outline-offset: -10px;
    // border-radius: 35px
}

.projectsH3 {
    @include font-style-Nunito(700,36px,1.2,$text-caption_color);

}

