.personal{ 
     display:grid;
     width: 63%;
     grid-template-areas: " personal__img personal__article"
                          " personal__img personal__link";
     grid-template-columns: 30% 1fr ;
     grid-template-rows: auto auto ;
     gap: 0rem;
     padding-left:15%;
     padding-right:22%;
     margin-top: 34px;
     margin-bottom: 34px;
      }
    
    
      .personal__img{
        grid-area:personal__img;
        width: 100%;}
    .personal__article{
        grid-area: personal__article;
    }
    .personal__header{
          grid-area:personal__header;
          padding-left: 20px;
          padding-bottom: 13px;
          margin-bottom: 0px;
          @include font-style-Nunito(700,32px,1.2,#54269E);
              }
     .personal__text{
           grid-area:personal__text;
           padding-left: 20px;
           @include font-style-Nunito(400,18px,1.2,#5B5A7A);
           margin-top: 0%;
           }
     .personal__link{
         grid-area:personal__link;
         padding-left: 20px;
         }
.personal-left{ 
        
        grid-template-areas: " personal__article personal__img"
                             " personal__link  personal__img";
        grid-template-columns:1fr 30%  ;
        grid-template-rows: auto auto ;
        padding-left:22%;
        padding-right:15%;
         }
.personal-heart{ 
            width: 70%;
            grid-template-areas: " personal__caption personal__img"
                                 " personal__text  personal__img";
            grid-template-columns:1fr 30%  ;
            grid-template-rows: auto auto ;
            padding-left:15%;
            padding-right:15%;
             }
.personal__caption{
                grid-area:personal__caption;
                padding-left: 20px;
                padding-bottom: 13px;
                margin-bottom: 0px;
                @include font-style-Nunito(700,42px,1.2,#54269E);}
    
@media (min-width: 700px) and (max-width: 1000px) {
    .personal{ 
        width: 90%;
        padding-left:5%;
        padding-right:5%;
         } 
.personal-heart  {
    width: 90%;
    padding-left:5%;
    padding-right:5%;
} 
.personal-heart{
    width: 90%;
    padding-left:5%;
    padding-right:5%;
} 


                    }




@media screen and (max-width: 700px) {
    .personal{ 
        display:grid;
        width: 90%;
        grid-template-areas: " personal__img" 
                             "personal__article"
                            " personal__link";
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto ;
        padding-left:5%;
        padding-right:5%;
         }
         .personal-left{ 
         
            grid-template-areas: "personal__img"
                                " personal__article" 
                                 " personal__link";
            grid-template-columns:1fr;
            grid-template-rows: auto auto auto;
            
             }
    .personal-heart{ 
                width: 70%;
                grid-template-areas:"personal__img"
                                    "personal__caption"
                                    "personal__text";
                grid-template-columns:1fr   ;
                grid-template-rows: auto auto auto;
                padding-left:15%;
                padding-right:15%;
                 }
                   
                    }

        
    
    