@charset "UTF-8";
.logoImg {
  width: 140px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70vw;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menuTitle {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #565656;
}

.gamburger {
  margin-left: 30px;
  margin-right: 10px;
}

.fundHeartImg {
  width: 35vw;
  margin-left: 70px;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #6A68B0;
}

.fundSubtitle {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #5B5A7A;
}

.fund {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70vw;
  margin: auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 30px;
  padding-bottom: 50px;
}

.firstColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.volButton,
.partButton {
  height: 4vw;
  width: 16vw;
  border-radius: 20px;
}

.volButton {
  border: none;
  background-color: #54269E;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: white;
}

.partButton {
  border: 2px solid #54269E;
  margin-left: 15px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #5B5A7A;
}

.ourGoal {
  width: 25vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.heartLogo {
  width: 25px;
}

.goalsH3 {
  text-align: center;
  margin-left: 15vw;
  width: 70vw;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #9747FF;
}

.whoSubtitle {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #54269E;
  margin-bottom: 10px;
  margin-left: 5px;
}

.whoWeText,
.weDoText {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #565656;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70vw;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutSecondColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.whoWe {
  -ms-flex-item-align: start;
      align-self: start;
  width: 70%;
  margin-bottom: 20px;
}

.weDo {
  width: 70%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.whoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.weDoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

a {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #9747FF;
}

footer {
  display: grid;
  width: 68%;
  grid-template-areas: "blagodaru blagodaru blagodaru" "header header header" "social-network social-network social-network" "contacts documents team";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0rem;
  background-color: #e8e4ef;
  padding-left: 16%;
  padding-right: 16%;
  background-image: url(../assets/images/footer/line.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__blagodaru {
  grid-area: blagodaru;
  justify-self: center;
  width: 236px;
  padding-top: 150px;
}

.footer__header {
  grid-area: header;
  text-align: center;
}

.social-network {
  grid-area: social-network;
  text-align: center;
}

.footer__contacts {
  grid-area: contacts;
  background-color: #A682DF;
}

.footer__documents {
  grid-area: documents;
  background-color: #A682DF;
}

.footer__team {
  grid-area: team;
  background-color: #A682DF;
}

.footer__header {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #F1E9FF;
  padding-bottom: 16px;
  padding-top: 40px;
}

.footer__subtitle {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #F1E9FF;
}

.footer__text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #F1E9FF;
}

.footer__liks {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #F1E9FF;
  text-decoration: none;
}

.social-network__link {
  padding: 16px;
}

.projectSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
  justify-items: left;
}

.projects {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 70vw;
  margin: auto;
}

.projectImg {
  width: 30vw;
  border: 10px solid #6C68AF;
  border-radius: 35px;
  background-color: #6C68AF;
}

.progectDiv {
  margin-right: 50px;
}

.projectsH3 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #9747FF;
}

.team {
  display: grid;
  width: 62%;
  grid-template-areas: "header header " "opred1 opred1" "img  opred2" "img  opred3" "img button";
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0rem;
  background-color: #e8e4ef;
  padding-left: 19%;
  padding-right: 19%;
  padding-bottom: 144px;
}

.team_img {
  grid-area: img;
  width: 100%;
  height: auto;
}

.team__header {
  grid-area: header;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #9747FF;
  text-align: center;
}

.team__opred1 {
  grid-area: opred1;
  width: 60%;
  padding-left: 10vw;
  padding-bottom: 40px;
  padding-top: 24px;
  padding-bottom: 40px;
}

.team__opred2 {
  grid-area: opred2;
  width: 60%;
  padding-left: 5vw;
  padding-bottom: 40px;
}

.team__opred3 {
  grid-area: opred3;
  width: 70%;
  padding-left: 10vw;
  padding-bottom: 40px;
}

.team__button {
  grid-area: button;
}

.team__text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #000000;
}

.team__span {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #54269E;
}

.bg-color {
  margin-top: 0;
  background-color: #e8e4ef;
}

.root {
  min-width: 360px;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.link a {
  text-decoration: none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
  display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
  line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
  color: #2F73B6; /*Задаём цвет ссылки*/
}

.link a:after {
  display: block; /*превращаем его в блочный элемент*/
  content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 3px; /*задаём высоту линии*/
  width: 0%; /*задаём начальную ширину элемента (линии)*/
  background-color: #225384; /*цвет фона элемента*/
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}

.link a:hover:after,
.link a:focus:after {
  width: 100%;
}

.link a:hover {
  color: #225384;
}