.logoImg {
  width: 140px;
}

.menu {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: row;
  width: 70vw;
  margin: auto;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fundHeartImg {
  width: 35vw;
}

.fund {
  display: flex;
  flex-direction: row;
  width: 70vw;
  margin: auto;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ourGoal {
  width: 25vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.heartLogo {
  width: 35px;
}

h3 {
  margin: auto;
  width: 65vw;
}

.aboutUs {
  display: flex;
  flex-direction: row;
  width: 70vw;
  margin: auto;
  justify-content: space-between;
}

.aboutSecondColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.whoWe {
  align-self: start;
  width: 70%;
}

.weDo {
  width: 70%;
  align-self: flex-end;
}

.whoTitle {
  display: flex;
  flex-direction: row;
}

.weDoTitle {
  display: flex;
  flex-direction: row;
}

footer {
  display: grid;
  width: 62%;
  grid-template-areas: "blagodaru blagodaru blagodaru" "header header header" "social-network social-network social-network" "contacts documents team";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0rem;
  background-color: #e8e4ef;
  padding-left: 19%;
  padding-right: 19%;
  background-image: url(../assets/images/footer/line.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__blagodaru {
  grid-area: blagodaru;
  justify-self: center;
  width: 236px;
  padding-top: 150px;
}

.footer__header {
  grid-area: header;
  text-align: center;
}

.social-network {
  grid-area: social-network;
  text-align: center;
}

.footer__contacts {
  grid-area: contacts;
  background-color: #A682DF;
}

.footer__documents {
  grid-area: documents;
  background-color: #A682DF;
}

.footer__team {
  grid-area: team;
  background-color: #A682DF;
}

.footer__header {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #F1E9FF;
  padding-bottom: 16px;
  padding-top: 40px;
}

.footer__subtitle {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #F1E9FF;
}

.footer__text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #F1E9FF;
}

.footer__liks {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #F1E9FF;
  text-decoration: none;
}

.social-network__link {
  padding: 16px;
}

.bg-color {
  margin-top: 0;
  width: 100vw;
  background-color: #e8e4ef;
}

.root {
  min-width: 360px;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=app.css.map */