.purpose {
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    padding: 50px 15px 50px;
    margin: 0px auto;
  }

  &__title {
    @include font-style-Nunito(700, 36px, 1.36, $text-caption_color);
    letter-spacing: -0.005em;
  }

  &__body {
    display: flex;
    justify-content: space-around;
    margin: 0px -20px;
  }

  &__item {
    flex: 0 1 33.333%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-image {
    img {
      width: 100%;
    }
  }

  &__item-title {
    @include font-style-Nunito(400, 18px, 1.2, rgba(84, 38, 158, 1));
    text-align: center;
  }
}

.about-our-activity {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  padding: 50px 15px 50px;
  margin: 0px auto;
  @include font-style-Nunito(400, 18px, 1.2, #5b5a7a);
  letter-spacing: -0.005em;
}
.principles {
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    padding: 50px 15px 50px;
    margin: 0px auto;
  }

  &__title {
    @include font-style-Nunito(700, 36px, 1.36, $text-caption_color);
    letter-spacing: -0.005em;
  }

  &__body {
    display: flex;
    justify-content: space-around;
    margin: 0px -20px;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
  }
  &__item::before {
    content: "";
    background: url(../assets/images/purpose/Group1.png);
    width: 25px;
    height: 27px;
    position: absolute;
    top: 3px;
    left: 0;
  }

  &__text {
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -0.005em;
      color: rgba(84, 38, 158, 1);
      @include font-style-Nunito(700, 18px, 1.2, rgba(84, 38, 158, 1));
    }
    @include font-style-Nunito(400, 18px, 1.2, #5b5a7a);
  }
}

.plans {
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    padding: 50px 15px 50px;
    margin: 0px auto;
  }

  &__title {
    @include font-style-Nunito(700, 36px, 1.36, $text-caption_color);
    letter-spacing: -0.005em;
  }

  &__body {
    display: flex;
    justify-content: space-around;
    margin: 0px -20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
  }
  &__item::before {
    content: "";
    background: url(../assets/images/purpose/Group1.png);
    width: 25px;
    height: 27px;
    position: absolute;
    top: 3px;
    left: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 40px;
    @include font-style-Nunito(400, 18px, 1.2, #5b5a7a);
  }

  &__text {
  }

  &__images {
    flex: 0 1 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image1 {
  }

  &__image2 {
  }
}
